<a href="https://colab.research.google.com/github/YeoJins/python-study_1/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [5]:
cd '/gdrive/MyDrive/2022-1/python-study_1'

/gdrive/MyDrive/2022-1/python-study_1

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("주식은 대박이다.")

주식은 대박이다.

In [ ]:
id(x),id(y) #id는 변수의 주소를 알려주는 함수, 두 주소값이 같다는 것은 같은 값에는 같은 주소가 할당됨을 가리킨다.

(93936863938144, 93936863938144)

In [ ]:
x=1000
y=1000
id(x),id(y) #이 경우에 주소가 다르게 나오는 이유는 파이썬에서 자주 쓰일 것 같은 범위의 정수값만 한 주소에 저장하기 때문이다.

(140498056383664, 140498056383472)

In [ ]:
mystring="hello world"

In [ ]:
mystring[0:3] #이 기능은 문자열을 슬라이싱(sliceing)하는 기능으로 범위를 지정해서 문자열을 자를 수 있다.

'hel'

In [ ]:
mystring[4:], mystring[:6] #이렇게 앞뒤도 생략 가능하다.

('o world', 'hello ')

In [ ]:
mystring[6:-1] #이렇게 음수를 쓸 수도 있는데, 이때는 뒤에서부터 센다.

'worl'

In [ ]:
my_jusik='Lg energy solution'

In [ ]:
my_jusik.split(' ') #split은 파이썬에서 제공하는 문자열 자르기 기능인데, ' '은 공백을 기준으로 나누겠다라는 뜻이다. 반환값은 리스트이다.

['Lg', 'energy', 'solution']

In [ ]:
my_jusik.split(' ')[0] #결과값이 리스트이므로 인덱스 0에 접근한다.

'Lg'

In [ ]:
print(my_jusik.split(' ')[0])

Lg

In [ ]:
#문제 2-1 다음(Daum)의 주가가 89,000원이고 네이버(Naver)의 주가가 751,000원이라고 가정하고, 
#어떤 사람이 다음 주식 100주와 네이버 주식 20주를 가지고 있을 때 그 사람이 가지고 있는 주식의 총액을 계산하는 프로그램을 작성하세요.

In [ ]:
daum=89000
naver=751000
zusik_sum=daum*100+naver*20
print(zusik_sum)

23920000

In [ ]:
#문제 2-2 문제 2-1에서 구한 주식 총액에서 다음과 네이버의 주가가 각각 5%, 10% 하락한 경우에 손실액을 구하는 프로그램을 작성하세요.

In [ ]:
zusik_down=(daum*0.05*100+naver*0.10*20)
print(zusik_down)

1947000.0

In [ ]:
f=50
c=(f-32)/1.8
print(c)

10.0

In [ ]:
#문제 2-4 화면에 "pizza"를 10번 출력하는 프로그램을 작성하세요.

In [ ]:
print("pizza\n"*10)

pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza

In [ ]:
#문제 2-5 월요일에 네이버의 주가가 100만 원으로 시작해 3일 연속으로 하한가(-30%)를 기록했을 때 수요일의 종가를 계산해 보세요.

In [ ]:
naver=1000000
wed_end=(naver*0.7*0.7*0.7)
print(wed_end)

342999.99999999994

In [ ]:
#s라는 변수에 'Daum KaKao'라는 문자열이 바인딩돼 있다고 했을 때 문자열의 슬라이싱 기능과 연결하기를 이용해 s의 값을 'KaKao Daum'으로 변경해 보세요.

In [ ]:
s='Daum KaKao'
s=s[5:10]+' '+s[0:4]
print(s)

KaKao Daum

In [ ]:
#문제 2-8 a라는 변수에 'hello world'라는 문자열이 바인딩돼 있다고 했을 때 a의 값을 'hi world'로 변경해 보세요.

In [ ]:
a='hello world'
a='hi'+a[5:]
print(a)

hi world

In [ ]:
#문제 2-9 x라는 변수에 'abcdef'라는 문자열이 바인딩돼 있다고 했을 때 x의 값을 'bcdefa'로 변경해 보세요.

In [ ]:
x='abcdef'
x=x[1:]+x[0]
print(x)

bcdefa

In [ ]:
#파이썬의 리스트는 정수,실수,문자열(서로 다른 자료형),공백으로 만들 수 있다.

In [ ]:
test=[1,2,3]
test_1=[0.1,0.3,5.4]
test_2=["i am test",3]
test_3=[]

In [ ]:
print(test),print(test_1),print(test_2),print(test_3)

[1, 2, 3]
[0.1, 0.3, 5.4]
['i am test', 3]
[]

(None, None, None, None)

In [ ]:
kospi_top10=["삼성전자","SK하이닉스","삼성전자우","NAVER","삼성바이오로직스","LG화학","삼성SDI","현대차","카카오","기아"]

In [ ]:
print('시가총액 5위:',kospi_top10[4])

시가총액 5위: 삼성바이오로직스

In [ ]:
kospi_top5=kospi_top10[:5]
print(kospi_top5)

['삼성전자', 'SK하이닉스', '삼성전자우', 'NAVER', '삼성바이오로직스']

In [ ]:
#append method는 리스트의 맨 뒤에 데이터를 추가한다.

In [ ]:
print(kospi_top10)
kospi_top10.append("sk텔레콤")
kospi_top11=kospi_top10
print(kospi_top11)

['삼성전자', 'SK하이닉스', '삼성전자우', 'NAVER', '삼성바이오로직스', 'LG화학', '삼성SDI', '현대차', '카카오', '기아']
['삼성전자', 'SK하이닉스', '삼성전자우', 'NAVER', '삼성바이오로직스', 'LG화학', '삼성SDI', '현대차', '카카오', '기아', 'sk텔레콤']

In [ ]:
#insert method는 리스트의 원하는 부분에 데이터를 삽입할 수 있다.

In [ ]:
kospi_top10=["삼성전자","SK하이닉스","삼성전자우","NAVER","삼성바이오로직스","LG화학","삼성SDI","현대차","카카오","기아"]
kospi_top10.insert(3,"sk텔레콤")
print(kospi_top10)

['삼성전자', 'SK하이닉스', '삼성전자우', 'sk텔레콤', 'NAVER', '삼성바이오로직스', 'LG화학', '삼성SDI', '현대차', '카카오', '기아']

In [ ]:
#len은 리스트에 입력된 데이터의 개수를 출력하는 method이다.

In [ ]:
len(kospi_top10)

11

In [ ]:
kospi_top10[-1]

'기아'

In [ ]:
#del은 리스트에 입력된 데이터를 지우는 method이다.

In [ ]:
del kospi_top10[-1]
print(kospi_top10), len(kospi_top10)

['삼성전자', 'SK하이닉스', '삼성전자우', 'sk텔레콤', 'NAVER', '삼성바이오로직스', 'LG화학', '삼성SDI', '현대차', '카카오']

(None, 10)

In [ ]:
#튜플과 리스트에는 2가지 차이점이 있다. 
#1. 리스트는 []을 사용하고 튜플은 ()을 사용한다.
#2. 리스트는 리스트 내의 원소를 변경할 수 있지만 튜플은 변경할 수 없다.
#튜플은 리스트보다 속도가 빠르다는 장점이 있다.

In [ ]:
#튜플 슬라이싱은 리스트와 방식이 똑같다. 단 데이터 삭제는 불가능하다.

In [ ]:
t = ('Samsung','Lg','sk')
t[0:2]

('Samsung', 'Lg')

In [ ]:
#딕셔너리는 서로 연관된 2개의 데이터 쌍을 저장할 때 유리하다. {}기호를 사용한다.

In [ ]:
cur_price={}

In [ ]:
type(cur_price) #type 함수로 형태를 확인할 수 있다.

dict

In [ ]:
cur_price['daeshin']=30000 #daeshin이 키이고 30000이 값이다.
cur_price['Daum kakao']=89000 #Daum kakao가 키이고 89000이 값이다.

In [ ]:
cur_price, len(cur_price)

({'Daum kakao': 89000, 'daeshin': 30000}, 2)

In [ ]:
cur_price[0]
#딕셔너리는 인덱싱 기능을 지원하지 않는다. 쌍으로 연결되어 있기 때문이다.

KeyError: ignored

In [ ]:
cur_price['daeshin'], cur_price['Daum kakao'] #딕셔너리에 추가한 데이터를 구하려면 키값을 사용해야 한다.

(30000, 89000)

In [ ]:
cur_price.keys() #keys는 키값만 확인할 수 있는 함수이다.

dict_keys(['daeshin', 'Daum kakao'])

In [ ]:
#하지만 keys의 내용은 리스트가 아니므로 리스트로 사용하려면 형변환이 필요하다.
list(cur_price.keys())

['daeshin', 'Daum kakao']

In [ ]:
stock_list=list(cur_price.keys()) #새로운 변수로 값을 바인딩한다
stock_list

['daeshin', 'Daum kakao']

In [ ]:
price_list=list(cur_price.values()) #values는 값만 확인할 수 있는 함수이다.
price_list

[30000, 89000]

In [ ]:
'Samsung' in cur_price.keys() #in 함수는 값이 원하는 곳 안에 있는지 확인하는 함수이다. false이므로 해당 딕셔너리에는 samsung이라는 키값이 존재하지 않는다.

False

In [ ]:
#2015년 9월 초의 네이버 종가는 표 3.2와 같습니다. 09/07의 종가를 리스트의 첫 번째 항목으로 입력해서 naver_closing_price라는 이름의 리스트를 만들어보세요.

In [ ]:
naver_closing_price=[474500,461500,501000,500500,488500]
naver_closing_price

[474500, 461500, 501000, 500500, 488500]

In [ ]:
print(max(naver_closing_price)) #리스트에서 가장 높은 값을 찾는 함수는 max이다.

501000

In [ ]:
print(min(naver_closing_price)) #리스트에서 가장 낮은 값을 찾는 함수는 min이다.

461500

In [ ]:
print(max(naver_closing_price)-min(naver_closing_price))

39500

In [ ]:
print(naver_closing_price[2])

501000

In [ ]:
naver_closing_price2={7:474500,8:461500,9:501000,10:500500,11:488500}
naver_closing_price2

{7: 474500, 8: 461500, 9: 501000, 10: 500500, 11: 488500}

In [ ]:
naver_closing_price2[9]

501000

In [ ]:
#boolean은 true와 false만 반환할 수 있는 자료형이다. 주로 비교형 연산자에서 많이 사용된다.

In [ ]:
mystock ='Naver'
mystock == 'Naver'

True

In [ ]:
#파이썬에서 if문을 사용할 때에는 맨 뒤에 :(콜론)을 붙인다.

In [ ]:
#파이썬에서 for문을 사용할 때에는 for 변수명 in 리스트/튜플/문자열: 와 같이 사용한다. 또는 범위를 지정하고 싶다면 range()를 이용해 지정할 수 있다.

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
interest_stocks = ["Naver", "Samsung","sk hynix"]

In [ ]:
for company in interest_stocks:
  print("%s buy 10" % company) #문자열이 출력될 곳에 %s를 쓰고 % 뒤에 반복할 리스트를 쓴다.

Naver buy 10
Samsung buy 10
sk hynix buy 10

In [ ]:
#딕셔너리에서 반복문 사용하기
interest_stocks = {"Naver":10, "Samsung":5, "Sk hynix":30}

In [ ]:
for company,stock_num in interest_stocks.items():
  print("%s buy %s" % (company,stock_num)) #딕셔너리는 값이 2개씩 연결되므로 변수도 2개 사용해야 함

Naver buy 10
Samsung buy 5
Sk hynix buy 30

In [ ]:
#while문과 if문을 이용해 홀수 찾기
num=0
while num<=10:
  if num % 2 ==1:
    print(num)
  num+=1 #num값을 1씩 증가시킴

1
3
5
7
9

In [ ]:
for i in range(0,5):
  print("*", end='')

*****

In [ ]:
for i in range(0,5):
  for j in range(0,4):
    print("*",end='')
  print('')

****
****
****
****
****

In [ ]:
for i in range(5):
  for j in range (i+1):
    print("*",end='')
  print("")

*
**
***
****
*****

In [ ]:
for i in range(5):
  for j in range(5-i):
    print("*",end='')
  print("")

*****
****
***
**
*

In [ ]:
for i in range(5):
  for j in range (5-i):
    print(" ",end='')
  for j in range(i+1):
    print("*",end='')
  print("")

     *
    **
   ***
  ****
 *****

In [ ]:
for i in range(5):
  for j in range(i):
    print(" ",end='')
  for j in range(5-i):
    print("*",end='')
  print("")

*****
 ****
  ***
   **
    *

In [ ]:
for i in range(5):
  for j in range(4-i):
    print(' ',end='')
  for j in range((i+1)*2-1):
    print("*",end='')
  print("")

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(5):
  for j in range(i):
    print(' ',end='')
  for j in range((5-i)*2-1):
    print("*",end='')
  print("")

*********
 *******
  *****
   ***
    *